body {
    margin: 0;
    overflow: hidden;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    border: 2px solid #800000;
    image-rendering: pixelated;
}