body {
    margin: 0;
    overflow: hidden;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvasestetica {
    width: 800px;
    height: 400px;
    background-color: #000;
    border: 2px solid red;
}

